.App {
  color: white;
  text-align: center;
  background: url(Assets/leon.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormEmployee {
  width: 500px;
  margin: 0 auto;
  text-align: left;
  padding: 3vh;
  border: 1vh solid;
  background-color: black;
 }
 
 .FormEmployee h1 {
  text-align: center;
 }
 
 .FormEmployee .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
 }
 
 .FormEmployee .form-data label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: left;
 }
 
 .FormEmployee .form-data input:not([type="submit"]) {
  flex-grow: 1;
 }

 .filmtitle {
   padding: 3vh;
 }
